
<!DOCTYPE html>
<meta charset="utf-8">

<!-- Range slider code -->
<script src="static/js/histogram.js"></script>
<script src="static/js/slider.js"></script>

<!-- CSS stylsheets -->
<link href="static/css/slider.css" rel="stylesheet">
<link href="static/css/histogram.css" rel="stylesheet">
{{!-- <link href="static/css/selection_menu.css" rel="stylesheet"> --}}
<h5>Date range</h5>
<div id="range-label"></div>
<div id="container"></div>
<div class="container-fluid">
    <div class="row">
        <nav class="col-2 bg-dark"><br /><br />
            <label>Century:</label>
            <div id="century"></div>
            <br>

            <label>Country:</label>
            <select id='artist_nationality' name="artist_nationality" onchange="submitSelected()">
                <option value="">-Select a country-</option>
            <br>

            <label>Artwork Type:</label>
            <select id='artwork_type' name="artwork_type" onchange="submitSelected()">
                <option value="">-Select an artwork type-</option>
            </select>
            <br>

            <label>School:</label>
            <select id='school' name="school" onchange="submitSelected()">
                <option value="">-Select a artwork school-</option>
            </select>
            <br>

            <form id="general_type" name="radioSelect">
                <label>General Type:</label><br>
            </form>
            <button onclick="resetOptions()">Reset Options</button>
            <br></br>
            <div style="color: aliceblue" id="pre-selected-options">
                <p>Explore one of the following pre-selected stories:</p>
                <label>An amazing insight</label><button id="pre-option-1" onclick="submitPreSelection(1)">View</button><br>
                <label>An incredible story</label><button id="pre-option-2" onclick="submitPreSelection(2)">View</button><br>
                <label>A great piece of art color history</label><button id="pre-option-3" onclick="submitPreSelection(3)">View</button><br>
            </div>
        </nav>
        <main role="main" class="col-10">
            <div class="row mt-4">
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="cielab-view">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="barchart-view" class="barchart-view" style="width: 700px; height: 540px; overflow-y: scroll"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="volume-view"></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="graph-view"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div id="tooltip"></div>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<div id="help-tooltip"></div>
<script type="text/javascript" src="static/js/cielab.js"></script>
<script type="text/javascript" src="static/js/barchart.js"></script>
<script type="text/javascript" src="static/js/volume.js"></script>
<script type="text/javascript" src="static/js/graph.js"></script>
<script type="text/javascript" src="static/js/helpTooltip.js"></script>
<script type="text/javascript" src="static/js/dashboard.js"></script>
{{!-- <script>
    $(document).ready(() => {
        //$("#general_type").css("color", "aqua");
        $('head').append('<link href="static/css/selection_menu.css" rel="stylesheet" type="text/css">')
    });
</script> --}}