<main role="main" class="container">
    <h1 class="mt-5">
        {{title}}
    </h1>
    <div id="map-view-container"></div>
    <div id="compare-view-container"></div>
    <script type="text/javascript" src="map.js"></script>
    <script type="text/javascript" src="compare.js"></script>
    <script type="text/javascript">
        map_view('#map-view-container');
        compare_view('/data', "#compare-view-container");
    </script>
</main>