<main role="main" class="container">
    <h1 class="mt-5">
        {{title}}
    </h1>
    <div id="map-view-container"></div>
    <div id="compare-view-container"></div>
    <script type="text/javascript" src="static/js/map.js"></script>
    <script type="text/javascript" src="static/js/compare.js"></script>
    <script type="text/javascript">
        map_view('static/data/countries.json', '#map-view-container');
        compare_view('/data', "#compare-view-container");
    </script>
</main>