<div class="container-fluid">
    <div class="row">
        <nav class="col-2 bg-dark">
                <ul class="nav flex-column">
                    <li class="nav-item m-4">
                        <select>
                            <optgroup label="Test">
                                <option value="test">test</option>
                            </optgroup>
                        </select>
                    </li>
                    <li class="nav-item m-4">
                        <select>
                            <optgroup label="Test">
                                <option value="test">test</option>
                            </optgroup>
                        </select>
                    </li>
                    <li class="nav-item m-4">
                        <select>
                            <optgroup label="Test">
                                <option value="test">test</option>
                            </optgroup>
                        </select>
                    </li>
                    <li class="nav-item m-4">
                        <select>
                            <optgroup label="Test">
                                <option value="test">test</option>
                            </optgroup>
                        </select>
                    </li>
                    <li class="nav-item m-4">
                        <select>
                            <optgroup label="Test">
                                <option value="test">test</option>
                            </optgroup>
                        </select>
                    </li>
                </ul>
        </nav>
        <main role="main" class="col-10">
            <div class="row mt-4">
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="cielab-view">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="barchart-view"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="volume-view"></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="graph-view"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div id="tooltip"></div>
<div id="help-tooltip"></div>
<script type="text/javascript" src="static/js/cielab.js"></script>
<script type="text/javascript" src="static/js/volume.js"></script>
<script type="text/javascript" src="static/js/graph.js"></script>
<script type="text/javascript" src="static/js/helpTooltip.js"></script>
<script type="text/javascript">
    var CIELAB = '#cielab-view',
        VOLUME = '#volume-view',
        GRAPH = '#graph-view',
        TOOLTIP = '#tooltip';
        HELP_TOOLTIP = '#help-tooltip';

    cielab_view();
    volume_view();
    graph_view();

    // event emmited when receiving message 
    var ws = new WebSocket('ws://localhost:40510');

    ws.onopen = () => {

        const parameters = JSON.stringify({
            century: 17.0,
            artist_nationality: "France",
            //artwork_type: "genre painting",
            //general_type: "painting",
        })

        ws.send(parameters);
    }

    ws.onmessage = (ev) => {
        console.log(ev);
        data_json = ev.data;
        data_json = JSON.parse(ev.data);
        console.log(data_json);

        update_cielab(data_json);
        update_volume(data_json);
        update_graph(data_json);
    }
</script>