
<!DOCTYPE html>
<meta charset="utf-8">
<style>
    body {
        font: 15px sans-serif;
    }

    .bar text {
        fill: #999999;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: rgb(70, 70, 70);
        shape-rendering: crispEdges;
    }
</style>

<!-- Range slider code -->
<script src="static/js/slider.js"></script>

<!-- CSS stylsheets -->
<link href="static/css/slider.css" rel="stylesheet">
{{!-- <link href="static/css/selection_menu.css" rel="stylesheet"> --}}
<h5>Date range</h5>
<div id="range-label"></div>
<div id="container"></div>
<div class="container-fluid">
    <div class="row">
        <nav class="col-2 bg-dark"><br /><br />
            <label>Century:</label>
            <button type='submit' value='14' onclick="submitSelected()">14th</button>
            <button type='submit' value='15' onclick="submitSelected()">15th</button>
            <button type='submit' value='16' onclick="submitSelected()">16th</button>
            <button type='submit' value='17' onclick="submitSelected()">17th</button>
            <button type='submit' value='18' onclick="submitSelected()">18th</button>
            <button type='submit' value='19' onclick="submitSelected()">19th</button> 
            <button type='submit' value='20' onclick="submitSelected()">20th</button>
            <button type='submit' value='21' onclick="submitSelected()">21st</button> 
            <br /><br />

            <label>Country:</label>
            <select id='artist_nationality' , name="artist_nationality" , onchange="submitSelected()">
                <option value="">-Select a country-</option>
                <option value="Armenia">Armenia</option>
                <option value="Australia">Australia</option>
                <option value="Belgium">Belgium</option>
                <option value="Canada">Canada</option>
                <option value="Denmark">Denmark</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="Greece">Greece</option>
                <option value="Hungary">Hungary</option>
                <option value="Italy">Italy</option>
                <option value="Japan">Japan</option>
                <option value="Netherlands">Netherlands</option>
                <option value="Norway">Norway</option>
                <option value="Poland">Poland</option>
                <option value="Romania">Romania</option>
                <option value="Russia">Russia</option>
                <option value="Spain">Spain</option>
                <option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Ukraine">Ukraine</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States">United States</option>
            <br /><br />

            <label>Artwork Type:</label>
            <select id='artwork_type' , name="artwork_type" , onchange="submitSelected()">
                <option value="">-Select an artwork type-</option>
            </select><br /><br />

            <label>School:</label>
            <select id='school' , name="school" , onchange="submitSelected()">
                <option value="">-Select a artwork school-</option>
                <option value=unknown>Unknown</option>
            </select><br /><br />

            <form id="general_type" name="radioSelect">
                <label>General Type:</label><br>
            </form>
            <button onclick="resetOptions()">Reset Options</button>
            <br></br>
            <div style="color: aliceblue" id="pre-selected-options">
                <p>Explore one of the following pre-selected stories:</p>
                <label>An amazing insight</label><button id="pre-option-1" onclick="submitPreSelection(1)">View</button><br>
                <label>An incredible story</label><button id="pre-option-2" onclick="submitPreSelection(2)">View</button><br>
                <label>A great piece of art color history</label><button id="pre-option-3" onclick="submitPreSelection(3)">View</button><br>
            </div>
        </nav>
        <main role="main" class="col-10">
            <div class="row mt-4">
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="cielab-view">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="barchart-view" class="barchart-view" style="width: 700px; height: 540px; overflow-y: scroll"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="volume-view"></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="graph-view"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div id="tooltip"></div>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<div id="help-tooltip"></div>
<script type="text/javascript" src="static/js/cielab.js"></script>
<script type="text/javascript" src="static/js/barchart.js"></script>
<script type="text/javascript" src="static/js/volume.js"></script>
<script type="text/javascript" src="static/js/graph.js"></script>
<script type="text/javascript" src="static/js/helpTooltip.js"></script>
<script type="text/javascript" src="static/js/dashboard.js"></script>
{{!-- <script>
    $(document).ready(() => {
        //$("#general_type").css("color", "aqua");
        $('head').append('<link href="static/css/selection_menu.css" rel="stylesheet" type="text/css">')
    });
</script> --}}