<!-- Range slider code -->
<script src="static/js/slider.js"></script>

<!-- Range slider style -->
<link href="static/js/slider.css" rel="stylesheet">
<h5>Date range</h5>
<div id="range-label"></div>
<div id="container"></div>
<div class="container-fluid">
    <div class="row">
        <nav class="col-2 bg-dark">
            <body>
                <div id="select-options"></div>
                <button type="submit">Sumbit</button><br>
                <script type="text/javascript" src="static/js/cielab.js"></script>
                <script type="text/javascript" src="static/js/volume.js"></script>
                <script type="text/javascript" src="static/js/graph.js"></script>
        </nav>
        <main role="main" class="col-10">
            <div class="row mt-4">
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="cielab-view">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="barchart-view" class="barchart-view" style="width: 700px; height: 540px; overflow-y: scroll"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="volume-view"></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="graph-view"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div id="tooltip"></div>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<div id="help-tooltip"></div>
<script type="text/javascript" src="static/js/cielab.js"></script>
<script type="text/javascript" src="static/js/barchart.js"></script>
<script type="text/javascript" src="static/js/volume.js"></script>
<script type="text/javascript" src="static/js/graph.js"></script>
<script type="text/javascript" src="static/js/helpTooltip.js"></script>
<script type="text/javascript" src="static/js/dashboard.js"></script>
<template id="select-template" type="text/x-handlebars-template">
    <label style="color: aliceblue;">Century:</label>
    <select id='century' , name='century' , onchange="submitSelected()">
        <option value="">All</option>
        {{#each centuries}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select><br /><br>
    <label style="color: aliceblue;">Country:</label>
    <select id='country' , name="country" , onchange="submitSelected()">
        <option value="">All</option>
        {{#each countries}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select><br /><br />

      var parameters = {
        creation_year: { begin: 1614, end: 1714 }
    }

    function submitSelected() {
        parameters["artist_nationality"]= document.getElementById('country').value
        parameters["artwork_type"]= document.getElementById('artwork_type').value
        parameters["school"]= document.getElementById('school').value
        parameters["general_type"]= document.getElementById('general_type').value

        ws.send(JSON.stringify(parameters))
    }

    // Initialize the views
    cielab_view();
    volume_view();
    graph_view();
    barchart_view();
    
    window.onload = () => {

        ws.onopen = () => {
            ws.send(JSON.stringify(parameters))
            console.log("Socket open")
        };
    }
    
    // Define websocket
    var ws = new WebSocket('ws://localhost:40510');
    
    // Listen to messages from backend
    ws.onmessage = (ev) => {
        message = JSON.parse(ev.data);
        console.log(message['unchanged'])

        if (!message['unchanged']) {
            console.log(message['graph_data'])    
            console.log('Updating graphs');
            update_cielab(message['graph_data']);
            update_graph(message['graph_data']);
            update_volume(message['graph_data']);
            update_barchart(message['graph_data']);
        }
    }

    // Slider
    var slider = createD3RangeSlider(-400, 2021, "#container", true);
    slider.range(parameters["creation_year"]["begin"], parameters["creation_year"]["end"]);
    slider.onChange(function (newRange) {
        d3.select("#range-label").html(newRange.begin + " &mdash; " + newRange.end);
        range = slider.range()
        parameters["creation_year"]["begin"] = range["begin"]
        parameters["creation_year"]["end"] = range["end"]
        console.log(parameters["creation_year"])
        ws.send(JSON.stringify(parameters))
    });
</script>