
<!DOCTYPE html>
<meta charset="utf-8">

<!-- Range slider code -->
<script src="static/js/slider.js"></script>

<!-- CSS stylsheets -->
<link href="static/css/main.css" rel="stylesheet">
<link href="static/css/slider.css" rel="stylesheet">
<link href="static/css/histogram.css" rel="stylesheet">
{{!-- <link href="static/css/selection_menu.css" rel="stylesheet"> --}}
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-4">
            <div class="row ml-3 mt-3 mb-3 p-2 border rounded" id="pre-selected-options">
                <h4 style="color: aliceblue; padding: 10px; padding-bottom: 0px;" >Explore one of the following pre-selected stories:</h4>
                <div class="row pb-2">
                    <div class="col-4">
                        <button id="pre-option-1" onclick="submitPreSelection(1.1)">17th Century Portraits</button>
                        <button id="pre-option-1" onclick="submitPreSelection(1.2)">19th Century Portraits</button>
                    </div>
                    <div class="col-8 pl-3 pt-2">
                        <label>More color in portraits! Compare the use of colors in portraits between the 17th and 19th century in the color frequency graph.</label>
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col-4 pt-1">
                        <button id="pre-option-2" onclick="submitPreSelection(2.1)">Japan, 17th and 18th Century</button>
                        <button id="pre-option-2" onclick="submitPreSelection(2.2)">Netherlands, 17th and 18th Century</button>
                    </div>
                    <div class="col-8 pt-2">
                        <label>Japanese lightness. The Japanese 17th and 18th artworks make use of a wider and more colorful color palette than European art of that time.</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 pt-3">
                        <button id="pre-option-3" onclick="submitPreSelection(3)">United States, 20th Century</button>
                    </div>
                    <div class="col-8 pt-2">
                        <label>Color diversity in the 20th century. The artworks from American artists in the 20th century use a very diverse set of colors, covering almost the whole range of the CIELAB space.</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8" style="display: flex;">
            <div class="card shadow" style="margin-right: 30px; margin-bottom: 50px; align-self: flex-end;">
                <div class="card-head" style="margin-top: 20px; margin-bottom: -50px;">
                    <h5 class="card-title" >Date range</h5>
                    <div id="range-label"></div>
                </div>
                <div class="card-body">
                    <div id="container"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <nav class="col-2">
            <div class="col ml-2">
                <div class="row mb-3 pb-2 border-bottom">
                    <div class="col">
                        <div class="row">
                            <label>Century:</label>
                        </div>
                        <div class="row">
                            <div id="century">
                                <button class="century-button active" id="13" type='submit' value='13.0'>13th</button>
                                <button class="century-button active" id="14" type='submit' value='14.0'>14th</button>
                                <button class="century-button active" id="15" type='submit' value='15.0'>15th</button>
                                <button class="century-button active" id="16" type='submit' value='16.0'>16th</button>
                                <button class="century-button active" id="17" type='submit' value='17.0'>17th</button>
                                <button class="century-button active" id="18" type='submit' value='18.0'>18th</button>
                                <button class="century-button active" id="19" type='submit' value='19.0'>19th</button>
                                <button class="century-button active" id="20" type='submit' value='20.0'>20th</button>
                                <button class="century-button active" id="21" type='submit' value='21.0'>21st</button>
                                <button class="individual-reset-button" id="reset-century" onclick="reset(this)">
                                    <span class="material-icons-outlined">restart_alt</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3 pb-2 border-bottom">
                    <div class="col">
                        <div class="row">
                            <label>Country:</label>
                        </div>
                        <div class="row">
                            <select id='artist_nationality' name="artist_nationality" onchange="submitSelected(this)" style="text-align: center;">
                            </select>
                            <button class="individual-reset-button" id="reset-artist-nationality" onclick="reset(this)">
                                <span class="material-icons-outlined">restart_alt</span>
                    </button>
                        </div>
                    </div>
                </div>

                <div class="row mb-3 pb-2 border-bottom">
                    <div class="col">
                        <div class="row">
                            <label>Artwork Type:</label>
                        </div>
                        <div class="row">
                            <select id='artwork_type' name="artwork_type" onchange="submitSelected(this)">
                            </select>
                            <button class="individual-reset-button" id="reset-artwork-type" onclick="reset(this)">
                                <span class="material-icons-outlined">restart_alt</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mb-3 pb-2 border-bottom">
                    <div class="col">
                        <div class="row">
                            <label>School:</label>
                        </div>
                        <div class="row">
                            <select id='school' name="school" onchange="submitSelected(this)">
                            </select>
                            <button class="individual-reset-button" id="reset-school" onclick="reset(this)">
                                <span class="material-icons-outlined">restart_alt</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mb-3 pb-2 border-bottom">
                    
                    <form id="general_type" name="radioSelect">
                        <label>General Type:</label>    
                    </form>
                    <button class="individual-reset-button" id="reset-general-type" onclick="reset(this)">
                        <span class="material-icons-outlined">restart_alt</span>
                    </button>
                </div>
                
                <div class="row mb-3">
                    <button onclick="resetAllOptions()">Reset All Options</button>
                </div>
            </div>
        </nav>
        <main role="main" class="col-10">
            <div class="row">
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="cielab-view">
                                <div class="row">
                                    <div class="col-1"><span class="material-icons-outlined">help_outline</span></div>
                                    <div class="col-10"><h4 class="card-title">CIELAB color space</h4></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="volume-view">
                                <div class="row">
                                    <div class="col-1"><span class="material-icons-outlined">help_outline</span></div>
                                    <div class="col-10"><h4 class="card-title">Relative color frequency</h4></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="barchart-view">
                                <div class="row">
                                    <div class="col-1"><span class="material-icons-outlined">help_outline</span></div>
                                    <div class="col-10"><h4 class="card-title">Artists by number of artworks</h4></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="graph-view">
                                <div class="row">
                                    <div class="col-1"><span class="material-icons-outlined">help_outline</span></div>
                                    <div class="col-10"><h4 class="card-title">Distance to average color</h4></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div id="tooltip"></div>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<div id="help-tooltip"></div>
<script type="text/javascript" src="static/js/cielab.js"></script>
<script type="text/javascript" src="static/js/barchart.js"></script>
<script type="text/javascript" src="static/js/volume.js"></script>
<script type="text/javascript" src="static/js/graph.js"></script>
<script type="text/javascript" src="static/js/helpTooltip.js"></script>
<script type="text/javascript" src="static/js/dashboard.js"></script>
{{!-- <script>
    $(document).ready(() => {
        //$("#general_type").css("color", "aqua");
        $('head').append('<link href="static/css/selection_menu.css" rel="stylesheet" type="text/css">')
    });
</script> --}}